.main{
        height: 75vh;
        /* width: ; */
        width :0px;
        background-color: gray;
        padding-left: 30vw;
        margin-left: 33vw;
        margin-top: 12.5vh;
        /* display: flex; */
}
.navi{
    height: 18%;
    background-color:rgb(185, 179, 179) ;
    /* margin: 0 auto; */
    margin-left: -30vw;
    font-size: 1.8rem;
    vertical-align: middle;
    line-height: 80px;
    }
.buttons{
    height:16%;
    background-color: gray;
    margin-top: 2px;
    margin-left:-30vw;
}
.styling
{
    font-size: 1.5rem;
    text-align: center;
    vertical-align: middle;
    line-height:70px;
    margin: 0 auto;
    font-weight: bold;
    color:rgba(209, 183, 183, 0.808);
}




